<header class="navigation">
  <div class="navigation-wrapper">
    <a href="home" class="logo">
      <%= partial "partials/logo" %>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="artwork-single">Discover</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Genres</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
      </ul>
      <div class="navigation-tools">
        <a href="javascript:void(0)" class="sign-up">Sign Up</a>
      </div>
    </nav>
  </div>
</header>
