<aside class="artwork-metadata">
  <hgroup>
    <h1 class="title"></h1>
    <h2 class="name"></h2>
  </hgroup>

  <ul class="meta">
    <li class="date"><strong>Created</strong> </li>
    <li class="quantity"><strong>Qty</strong> </li>
    <li class="medium"><strong>Medium</strong> </li>
    <li class="genre"><strong>Genre</strong> </li>
  </ul>
</aside>