<aside class="artwork-stats">
  <ul class="stats">
    <li class="collectors"><strong>Collectors</strong> 35</li>
    <li class="views"><strong>Views</strong> 327</li>
    <li class="favorites"><strong>Favorites</strong> 7</li>
  </ul>

  <div class="artist-bio">
    <p>Consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</aside>