<aside class="artwork-metadata">
  <hgroup>
    <h1 class="title">Light Leak</h1>
    <h2 class="name">Joyce Yu Jean Lee</h2>
  </hgroup>

  <ul class="meta">
    <li class="date"><strong>Created</strong> 2014</li>
    <li class="quantity"><strong>Qty</strong> 250</li>
    <li class="medium"><strong>Medium</strong> Digital Photograph</li>
    <li class="genre"><strong>Genre</strong> Interior</li>
  </ul>

  <%= partial "components/artwork-actions" %>
</aside>