<div class="component-hero" style="background-image: url(../images/skyline.jpg);">
  <div class="image-gradient-dynamic">
    <img src="../images/skyline.jpg" alt="">
    <div class="overlay"></div>
    <div class="copy">
      <h2 class="title">Heather Mc Grath</h2>
      <p>Fjord Sunset</p>
    </div>
  </div>
</div>