<header class="gallery-title">
  <h4 class="type">Recommended</h4>
</header>
<section class="component-gallery-recommended">
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
</section>
