<h4 class="more">More from this Artist</h4>
<section class="component-gallery-artist">
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
</section>
