<section class="component-gallery-artist">
<h4>More from this Artist</h4>

  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
</section>
