<header class="gallery-title">
  <h4 class="subhead type">More from this Artist</h4>
</header>
<section class="component-gallery-artist">
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
</section>
