<section class="component-gallery-artist">
<h3>More from this Artist</h3>

  <%= partial "components/artwork-item" %>
  <%= partial "components/artwork-item" %>
  <%= partial "components/artwork-item" %>
</section>