<section class="artwork-frame">
  <figure class="artwork-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    <figcaption><span class="icon-heart"></span></figcaption>
  </figure>
</section>
