<div class="artwork-actions">
  <ul class="actions">
    <li><button class="primary">Buy</button></li>
    <li><button class="hollow trans">Cast</button></li>
    <li><span class="icon-heart"></span></li>
  </ul>
</div>
