<aside class="artwork-metadata">
  <hgroup>
    <h3 class="name">Joyce Yu Jean Lee</h3>
    <p class="title">Light Leak</p>
  </hgroup>

  <ul class="meta h4">
    <li class="date">Created <span class="data">2014</span></li>
    <li class="quantity">Qty <span class="data">250</span></li>
    <li class="medium">Medium <span class="data">Digital Photograph</span></li>
    <li class="genre">Genre <span class="data">Interior</span></li>
    <li class="price"><h3>$10</h3></li>
  </ul>

  <%= partial "partials/artwork-actions" %>
</aside>
