<div class="artwork-item">
  <figure class="artwork-item-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">

    <figcaption class="artwork-header">
      <h3>Jaco Putker</h4>
      <h5>Figure D'écorché</h5>
    </figcaption>
  </figure>
</div>
