<aside class="artwork-stats">
  <div class="excerpt">
    A monochromic landscape that transcends the boundaries between magical and dangerous, nostalgic and futuristic worlds
  </div>

  <ul class="meta">
    <li class="collectors">Collectors <span class="data">35</span></li>
    <li class="views">Views <span class="data">327</span></li>
    <li class="favorites">Favorites <span class="data">7</span></li>
  </ul>

  <ul class="social-feed h4">
    <li>John bought this piece</li>
    <li>John bought this piece</li>
    <li>John bought this piece</li>
  </ul>
</aside>
