<aside class="artwork-stats">
  <div class="excerpt">
    A monochromic landscape that transcends the boundaries between magical and dangerous, nostalgic and futuristic worlds
  </div>

  <ul class="stats">
    <li class="collectors">35 <span class="label">Collectors</span></li>
    <li class="views">327 <span class="label">Views</span></li>
    <li class="favorites">7 <span class="label">Favorites</span></li>
  </ul>

  <ul class="social-feed h4">
    <li>John bought this piece</li>
    <li>John bought this piece</li>
    <li>John bought this piece</li>
  </ul>
</aside>
