@import "bordered";
@import "flat";
@import "simple";

@mixin bbb_common_styling {
  font: inherit;
  padding: .5em 1em;
  border-radius: 0;

  border: none;
  display: inline-block;

  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }
}

// Some predefined button sizes algorithm here.
// Please have in mind that it is extremely easy to create your own button sizes.

@mixin bbb_size ($size: 1) {

  $padding_y: 0;

  @if (unitless($size)) {
    $padding_y: $size * 7px;
  } @else {
    $padding_y: $size;
  }
  $padding_x: $padding_y * 2;
  padding: $padding_y $padding_x;
}

button {
  text-transform: uppercase;
  &.flat {

  }

  &.hollow {
    @include bbb_bordered_style($primary, $primary);
    margin-top: 23px;
    margin-right: 23px;
  }

  &.narrow {
    @include bbb_flat_style($dark-gray, white);
    width: 50%;
    font-size: 0.8em;
  }

  &.white {
      @include bbb_bordered_style(white, white);
    }

  &.label {
    @include bbb_flat_style($dark-gray, white);
    padding: 3px 8px;
    font-size: 0.7em;
    margin: 0 12px 12px 0;
  }

  &.trans {
    @include bbb_bordered_style(rgba(white, .5), rgba(white, .5));
  }
}
