// Partials
@import "partials/partials";

// Components
// @import "components";

.artwork-item {
  float: left;
}

.component-gallery-artist {
  $grid-item-columns: 4;
  @include outer-container();
  padding: 1em;

  .artwork-item {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }
  }
}

.component-gallery-recommended {
  $grid-item-columns: 6;
  @include outer-container();
  padding: 1em;

  .artwork-item {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }
  }
}