%gallery {
  @include outer-container();
  padding: 30px;

  .more {
    padding-bottom: 1em;
  }

  .artwork-item {
    padding-bottom: 1em;

    .name {
      font-size: $h5-font-size;
    }

    .title {
      font-size: $h6-font-size;
    }
  }
}

.component-gallery-artist, .component-browse-artwork {
  @extend %gallery;

  .artwork-item {
    @include media($large-screen) {
      @include span-columns(4);
      @include omega(4n);
    }
  }
}

.component-gallery-recommended {
  @extend %gallery;

  .artwork-item {
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(3n);
    }
  }
}
