// Pages
// @import "home";
// @import "single";
// @import "category";

.page-artwork-single {
  .component-overview {
    background: #efefef;

    .overview-container {
      @include outer-container();
      padding: 1em;

      .artwork-frame {
        @include media($large-screen) {
          @include span-columns(9);
        }
      }

      .artwork-metadata {
        @include media($large-screen) {
          @include span-columns(3);
        }
      }
    }
  }

  .component-background {
    @include outer-container();
    padding: 1em;

    .artwork-description {
      @include media($large-screen) {
        @include span-columns(9);
      }
    }

    .artwork-stats {
      @include media($large-screen) {
        @include span-columns(3);
      }
    }
  }
}

.gallery-container {
  background: #efefef;
  padding: 2em 0;
}