// Pages
// @import "home";
// @import "single";
// @import "category";
@import "splash";

.page-artwork-single {
  
  .component-overview {
    background: #efefef;
    position: relative;

    .overview-container {
      @include outer-container();
      padding-bottom: $gutter;

      .artwork-frame {
        @include media($large-screen) {
          @include span-columns(8);
          padding: $gutter 0 0 $gutter;
        }
      }

      .artwork-metadata {
        padding: $gutter;
        
        @include media($large-screen) {
          @include span-columns(4);
          padding-left: 0;
        }
      }

      .artwork-actions {
        @include media($large-screen) {
          position: absolute;
          bottom: $gutter;
        }
      }
    }
  }

  .component-background {
    @include outer-container();
    padding: $gutter;

    .artwork-description {
      @include media($large-screen) {
        @include span-columns(7);
      }
    }

    .artwork-stats {
      margin: -$gutter;
      margin-top: 0;

      @include media($large-screen) {
        @include span-columns(4);
        @include shift(1);
        margin-bottom: 1em;
      }

      .excerpt {
        padding: $gutter;
        background: $light-gray;
      }

      .meta {
        padding: $gutter;
        background: $medium-gray;
      }

      .social-feed{
        padding: $gutter;
        background: $light-gray;
      }
    }
  }
}

.gallery-container {
  background: #efefef;
  padding: 2em 0;
}
