.artwork-metadata {
  .data {
    color: $secondary;
  }
  .price {
    color: $secondary;
  }
}

.artwork-actions {
  .actions {
    padding-top: 1em;
    li {
      @include inline-block;
    }
    button {
      // @include button($pri);
    }
  }
}

figcaption span {
  font-size: 2rem;
}

.artwork-image {
  line-height: 0;
  background-repeat: none;
  background-size: cover;

  img {
    visibility: hidden;
    min-width: 100%;
  }
}

.stats {
  padding: $gutter;
  overflow: auto;

  li {
    color: $secondary;
    display: inline;
    font-weight: 800;
    font-size: 1.2em;
    float: left;
    border-right: 1px solid transparentize($base-font-color, .8);
    line-height: 1.1em;
    padding: 0 .7em 0 .7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    span {
      color: $base-font-color;
      font-size: .7em;
      display: block;
      font-weight: normal;
    }
  }
}

.artwork-item {
  border-bottom: 1px solid $light-gray;
  cursor: pointer;

  &:hover {
    background-color: $light-gray;
  }

  figcaption {
    padding: 0 .75em;
  }
}