.artwork-metadata {
  .data {
    color: $sec;
  }
  .price {
    color: $sec;
  }
}

.artwork-actions {
  .actions {
    padding-top: 1em;
    li {
      @include inline-block;
    }
    button {
      // @include button($pri);
    }
  }
}

figcaption span {
  font-size: 2rem;
}

.artwork-item {

}

.artwork-image {
  line-height: 0;
}
