.artwork-metadata {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }
}

.artwork-actions {
  .actions {
    padding-top: 1em;
    li {
      @include inline-block;
    }
  }
}

figcaption span {
  font-size: 2rem;
}

.artwork-item {
  float: left;
}