<div class="page-artwork-single">
  <%= partial "components/component-overview" %>
  <%= partial "components/component-background" %>
  <%= partial "components/component-gallery-artist" %>
  <%= partial "components/component-gallery-recommended" %>
</div>