<%= partial "components/component-hero" %>
<section class="gallery-container">
  <%= partial "components/component-browse-artwork" %>
</section>
<%= partial "components/component-points" %>
<%= partial "components/component-hero-action" %>
