<section class="splash-intro">
  <div class="container type-center">
    <header>
      <h1>DEPICT</h1>
      <h2>Live with Art</h2>
    </header>
    <div class="splash-hero">
      <img src="../images/splash/iOSicon.png" class="icon image-rounded">
    </div>
    <div class="splash-form">
      <!-- <h3>Coming Soon</h3> -->
      <input type="email" class="email" value="Enter Email"><input class="button" type="submit" value="Get Early Access">
      <!-- <img src="../images/download.png"> -->
      <!-- <button>Login to Web</button> -->
    </div>
  </div>
</section>

<section class="splash-how type-center">
  <h2>How does Depict work?</h2>
  <img src="../images/splash/iphone.gif" >
</section>
<section class="splash-info">
  <div class="container type-center">
    <div class="splash-infobox">
      <span class="icon-globe icon-xlarge"></span>
      <h3>Discover</h3>
      <p>We curate the best emerging artists and display them worldwide</p>
    </div>
    <div class="splash-infobox">
      <span class="icon-tag icon-xlarge"></span>
      <h3>Collect</h3>
      <p>When you buy artwork you support artists and their works directly</p>
    </div>
    <div class="splash-infobox">
      <span class="icon-monitor icon-xlarge"></span>
      <h3>Display</h3>
      <p>We’re building our platform so you can find like minded art collectors</p>
    </div>
  </div>
</section>

<section class="splash-cta">
  <div class="container type-center">
    <article class="content">
      <img src="../images/splash/iPhoneTrio.png">
    </article>
  </div>
</section>
