<section class="splash-intro">
  <div class="container type-center">
    <header>
      <h1>DEPICT</h1>
    </header>
    <div class="splash-follow">
      <button>App Store</button>
    </div>
    <div class="splash-head">
      <h2>Live with Art</h2>
    </div>
    <div class="splash-login">
      <button>Web Login</button>
    </div>
    <div class="splash-hero">
      <img src="../images/splash/iPhoneTrio.png">
    </div>
    <div class="splash-video">
      <h2>Launching Depict iOS</h2>
      <p class="type-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <img src="../images/splash.jpg">
      <button>Get Depict</button>
    </div>
  </div>
</section>

<section class="splash-info">
  <div class="container type-center">
    <div class="splash-infobox">
      <span class="icon-globe icon-xlarge"></span>
      <h3>Discover</h3>
      <p>We curate the best emerging artists and display them worldwide</p>
    </div>
    <div class="splash-infobox">
      <span class="icon-tag icon-xlarge"></span>
      <h3>Collect</h3>
      <p>When you buy artwork you support artists and their works directly</p>
    </div>
    <div class="splash-infobox">
      <span class="icon-monitor icon-xlarge"></span>
      <h3>Display</h3>
      <p>We’re building our platform so you can find like minded art collectors</p>
    </div>
  </div>
</section>

<section class="splash-cta">
  <div class="container type-center">
    <article class="content">
      <h3>Fill the blank spaces in your home with work by the world’s best digital artists.</h3>
      <!-- <h4>Available at the</h4> -->
      <button>App Store</button>
    </article>
  </div>
</section>
